name: 'build-test'

on: 
  pull_request:
  push:
    branches:
      - '**'

jobs:
  plugin-check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.2

    - name: Run plugin check
      uses: wordpress/plugin-check-action@v1.1.5
      with:
        exclude-files: |
          .gitignore
          .gitattributes
          .wp-env.json
          CHANGELOG.md
          README.md
        exclude-directories: |
          .github