name: 'build-test'
on: 
  pull_request: # Triggers on pull requests
  push:         # Triggers on pushes to specified branches
    branches:
      - main
      - development

jobs:
  plugin-check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1

    - name: Remove non-production files
      run: |
        rm -rf .github
        rm -rf .git
        rm -f .gitignore
        rm -f .gitattributes
        rm -f CHANGELOG.md
        rm -f README.md
      
    - name: Run plugin check
      uses: wordpress/plugin-check-action@v1.1.4